body h1 {
  color:white;
  padding-left:80px;
  padding-top:50px;
}

body h2 {
  color:white;
}

body h3{
  display:none;
  color:yellow;
  font-size:50px;
  text-align: center;
  padding:10px;
}

#total_display {
  position:relative;
  left:500px;
  width:480px;
  background:black;
  border: 5px solid white;
  border-radius:5%;
  margin-top:70px;
  opacity:.7;
  display:none;
}

.background-image{
  position: fixed;
  left:0;
  right:0;
  z-index: 1;

  display: block;
  background-image: url('../img/scrabble.jpg');
  background-size:100%;
  width: 1600px;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position:fixed;
  left:0;
  right:0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.top_container {
  margin-top:200px;
  background-color:black;
  opacity:.6;
  border-radius: 10px;
  width:800px;
  margin-left:170px;
}
.top_container_form {
  margin-top:50px;
}

#submitted_words_background {
  position:absolute;
  top:250px;
  background-color:grey;
  width:300px;
  border-radius:10px;
  margin-top:30px;
  opacity:.8;
  display: none;
}

#submitted_words_table {
  text-align: center;
  color: black;
}

#points_span {
  font-size: 90px;
  color:red;
}


#word {
  height:100%;
  width:100%;
  text-align: center;
  background: none;
  color:white;
  border:none;
  font-size:50px;
  box-shadow:none;
}

.title {
  text-align:center;
  color:red;
}

#wordform {
  padding:30px 0px;
}

#words_table {
  width:300px;
}

#btn {
  display:none;
}

